include ../../site-header/site-header
include ../../user-profile/user-profile
include ../../header/header
include ../../video/video

mixin staff-site(options)
  - let {siteHeader={}, headerVideo="headerVideo", video="", headerStaff="headerStaff", doctor=[]} = options;

  .staff-site
    +site-header(siteHeader)

    .staff-site__wrapper
      .staff-site__video
        +header({header:headerVideo})

        .staff-site__video-block
          +video({link:video})  

      .staff-site__doctor
        +header({header:headerStaff})

        each item in doctor
          .staff-site__doctor-block
            +user-profile(item)    
