.site-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #689CD2;
    justify-content: space-around;
    .navigation{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        .navigation__logo{
            color:$main-white;
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            vertical-align: middle;
        }
        .navigation__logo:hover{
           color:greenyellow;
        }
        .navigation__menu{
            list-style: none;
            text-transform: uppercase;
            display: flex; 
            .navigation__menu_element{
                padding:0 15px;
                font-size: 1rem;
                font-weight: bold;
            }
            .link{
                color:$main-white;
                text-decoration: none;
            }
            .link:hover{
                color:greenyellow;
                border-bottom: greenyellow solid 3px;
                padding-bottom: 3px;
            } 
        }
    }
}
@media screen and (max-width: 1140px){
    .site-header{
        .navigation{
            flex-direction: column;
            justify-content:center;
            .navigation__logo{
                margin-bottom: 20px;
            }   
            .navigation__menu{
                .navigation__menu_element{
                    padding:0 5px; 
                    font-size: .65rem;
                }
            }
        }
    }
}
@media screen and (max-width: 575px){
    .site-header{
        .navigation{
            .navigation__menu{
                display: flex;
                flex-flow: column wrap;
                .navigation__menu_element{
                    margin-bottom: 7px
                }
            }
        }
    }
}