mixin site-header()
    .header__section
        .header__item
            a(href='index.html' class='header-logo') Зубы на полку
        .header__item.header-button
            a(href='discount.html') скидки и акции
        .header__item.header-button
            a(href='recording.html') запись на прием
        .header__item.header-button
            a(href='online.html') онлайн консультация
        .header__item.header-button
            a(href='contacts.html') контакты
        .header__item.header-button
            a(href='staff.html') наши врачи