mixin site-header()
  header.site-header
    nav.navigation
      a(href='index.html' class='navigation__logo')
        |Зубы на полку
      menu.navigation__menu
        li.navigation__menu_element
          a(href='discount.html' class="link") скидки и акции 
        li.navigation__menu_element
          a(href='recording.html' class="link") запись на прием
        li.navigation__menu_element
          a(href='online.html' class="link") онлайн консультация
        li.navigation__menu_element
          a(href='contacts.html' class="link") контакты
        li.navigation__menu_element
          a(href='staff.html' class="link") наши врачи 
    a(href='ui-kit.html' class="ui-kit") UI-KIT