mixin site-header()
    .header__section
        .header__item.header-logo Зубы на полку
        .header__item.header-button
            a(href='#') услуги
        .header__item.header-button
            a(href='#') запись на прием
        .header__item.header-button
            a(href='#') онлайн консультация
        .header__item.header-button
            a(href='#') контакты
        .header__item.header-button
            a(href='#') наши врачи