mixin site-header()
    .header__section
        .header__item
            a(href='../' class='header-logo') Зубы на полку
        .header__item.header-button
            a(href='#') услуги
        .header__item.header-button
            a(href='../recording.html') запись на прием
        .header__item.header-button
            a(href='../online.html') онлайн консультация
        .header__item.header-button
            a(href='#') контакты
        .header__item.header-button
            a(href='../staff.html') наши врачи