mixin range()
    input(class="range" type="range" min="0" max="100" step="25" value="75")
    .range-num
        span.range-num-zero 0
        span.range-num-one 25        
        span.range-num-two 50
        span.range-num-three 75
        span.range-num-four 100                