mixin toggle(chec)
    <label class="toggle"> 
        <input id="switch" type="checkbox"  #{chec}>
        <div class="on_off"></div>                           
        <div class="ball"></div>
    </label>    