mixin select()
    .select
        select(class="select-block" name="slct" id="slct")
            option Choose an option
            option(value="1") Pure CSS
            option(value="2") No JS
            option(value="3") Nice!
