mixin bubble-slider(options)
  -let {min=0, max=100, step=0, value=40} = options;

  .bubble-slider.js-bubble-slider
    input.bubble-slider__input( id="rangeSlider" type="range" min= min max= max value= value step= step)
    label.bubble-slider__tooltip(for="rangeSlider") 0
