.bubble-slider {
  position: relative;
  padding-top: 2.5%;

  &__tooltip {
    line-height: 1rem;
    position: absolute;
    height: 1rem;
    width: 1.6rem;
    color: #ffffff;
    font-size: 0.8rem;
    background-color: #e75735;
    padding: 0.2rem 0.2rem;
    border: 1px #e75735 solid;
    top: -1.8rem;
    left: 0;
    text-align: center;
    transform: translate(-26%, 0);
    border-radius: 3px;

    &:after {
      display: block;
      content: "";
      position: absolute;
      border: 0.3rem solid transparent;
      border-top: 0.3rem solid #e75735;
      left: calc(50% - 6px);
      left: 0.7rem;
      bottom: -0.6rem;
    }
  }

  &__input {
    width: 100%;
    background: transparent;
    cursor: pointer;
    height: 0.8rem;

    &::-webkit-slider-thumb {
      margin-top: -0.5rem;
    }
  }

  &__input[type="range"] {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    margin: auto;
    outline: none;
  }

  &__input[type="range"]::-webkit-slider-runnable-track {
    animate: 0.2s;
    background-color: #e5e5e5;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 0.35rem;
  }

  &__input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #e75735;
    border-radius: 50%;
    border: 1px solid #e75735;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
  }

  &__input[type="range"]:active + output {
    display: block;
    transform: translateX(-50%);
  }

  &__input[type="range"]:active::-webkit-slider-runnable-track {
    opacity: 0.8;
  }

  &__input[type="range"]::-moz-range-track {
    animate: 0.2s;
    background-color: #e5e5e5;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 0.35rem;
  }

  &__input[type="range"]::-moz-range-thumb {
    background: #e75735;
    border-radius: 50%;
    border: 1px solid #e75735;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
  }
}
