mixin bubble-slider(options)
  -let {min=0, max=100, step=0, value=40} = options;

  .custom-rangeslider
    input.custom-rangeInput( id="qqq" type="range" min= min max= max value= value step= step)
    label.custom-rangeslider__tooltip( id="www" for="range") 0
