mixin bubble-slider(min, max, step, value)
  .custom-rangeslider
    input(class="custom-rangeInput"   type="range" min= min max= max value= value step= step)
    label(for="range" class="custom-rangeslider__tooltip") 0
