include ../header/header
include ../search/search
include ../select/select

mixin search-block(options) 
  -let {header="header", search=[], select={}} = options;

  .search-block
    +header({header:header}) 

    form.search-block__form
      each item in search 
        .search-block__search
          +search(item) 
      .search-block__select
      +select(select)   