include ../header/header
include ../bubble-slider/bubble-slider
include ../range-slider/range-slider

mixin sliders(options) 
	- let {header="title", bubble={}, range={}} = options;

	+header({header:header})

	.sliders__left
		+bubble-slider(bubble)

	.sliders__right
		+range-slider(range)