include ../header/header
include ../bubble-slider/bubble-slider
include ../range-slider/range-slider

mixin sliders(options) 
	- let {header="title", bubble={}, range={}} = options;

	.sliders
		+header({header:header})

		.sliders__block
			.sliders__element
				+bubble-slider(bubble)

			.sliders__element
				+range-slider(range)