.sliders {
  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__element {
    width: 44%;
    &_bubble-slider {
      padding-top: 7%;
    }
    &_range-slider {
      padding-top: 6%;
    }
  }
}
