mixin news(parametr)
  .news
    img(class="news__img" src= parametr.img alt="bike")
    .news__text
      .news__text_header=  parametr.header
      .news__text_data= parametr.data
      .news__text_info= parametr.text