.news {
  display: flex;
  &__img {
    width: 33%;
    border-radius: .25rem 0 0 .25rem;
  }
  &__text {
    background: #e75735;
    width: 67.01%;
    border-radius: 0 .25rem .25rem 0;
    color: #ffffff;
    padding-left: 8%;
    text-align: left;
    &_header {
      font-family: "latolight";
      font-size: 1.7rem;
      padding-top: 13%;
    }
    &_data {
      text-transform: uppercase;
      font-size: 0.68rem;
      padding-top: 7%;
      letter-spacing: 0.05rem;
    }
    &_info {
      font-family: "latolight";
      font-size: 0.7rem;
      padding-top: 9%;
      padding-right: 10%;
      line-height: 0.85rem;
      letter-spacing: 0.01rem;
    }
  }
}
