include ../button/button

mixin message(options)
  - let {text= "text", placeholder= "placeholder", photo="img", button={}} = options;

  .message
    .message__header
      .message__chat
        a.message__link(href="/mock-address/change-me/", target="_blank", rel="noopener noreferrer")
          img.message__chat-img(src=require("./blocks/message/img/chat.png") alt="chat icon")
      .message__camera
        a.message__link(href="/mock-address/change-me/", target="_blank", rel="noopener noreferrer")
          img.message__camera-img(src=require("./blocks/message/img/camera.png") alt="camera icon")
      .message__name Sarah Brown
      img.message__photo(src= photo alt="User photo")

    .message__body
      .message__from= text
      .message__text-area
        +text-area({ name:"form", placeholder: placeholder})
      .message__button
        +button(button)