.user-profile {
  padding: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .photo-block__image {
    border: 3px solid $main-gray;
    border-radius: 50%;
    width: 31.5%;
    height: 31.5%;
  }
  &__tooltip {
    width: 61%;
    position: relative;
    background: $main-gray;
    border-radius: $radius;
    &:before {
      content: "";
      border: solid transparent;
      position: absolute;
      right: 100%;
      top: 45%;
      border-right-color: $main-gray;
      border-width: 0.3rem;
    }
    &_green {
      background: $main-green;
      color: $main-white;
      &:before {
        border-right-color: $main-green;
      }
    }
    &_name {
      font-family: "Lato Regular";
      color: $main-red;
      padding-top: 6%;
      font-size: 1.2rem;
      text-align: center;
    }
    &_job {
      font-family: "Lato Regular";
      padding-top: 4%;
      font-size: 0.7rem;
      letter-spacing: 0.05rem;
      text-align: center;
      text-transform: uppercase;
    }
    .social {
      width: 55%;
      padding: 6% 0;
      margin: auto;
      display: flex;
      &__img {
        margin: auto;
      }
    }
  }
}
