mixin userProfile(parametr)
    -
        var teme = 'user-profile__tooltip_box'
        teme += parametr.color === 'green' ? " user-profile__tooltip_green" : ""
    .user-profile
        .user-profile__foto    
            img(class="photo-block__image" src= parametr.img alt="User photo")
        .user-profile__tooltip
            .div(class= teme)
                .user-profile__name= parametr.name
                .user-profile__job= parametr.job
                .social
                    img(class='social__img' src="./src/img/FB.png" alt='FB')
                    img(class='social__img' src="./src/img/Twitter.png" alt='Twitter')
                    img(class='social__img' src="./src/img/Dribbble.png" alt='Dribbble')