.container {
  padding: 5% 2.2% 5% 3.3%;
}
.steps {
  background-color: #e5e5e5;
  display: block;
  height: 4px;
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 100%;
  > li {
    float: left;
    margin: 0;
    min-height: 1px;
    padding: 0;
    position: relative;
  }
}
$step-map: (
  2: two,
  3: three,
  4: four,
  5: five
);
@each $number, $word in $step-map {
  .#{$word}.steps > li {
    width: 100% / ($number - 1);
  }
}
.steps > li:first-child {
  width: 0;
}
.steps > li > a {
  background-color: #e5e5e5;
  border-radius: 50%;
  color: #888888;
  display: block;
  font-family: "Lato Black";
  font-size: 14px;
  font-weight: bold;
  height: 28px;
  width: 28px;
  right: -10px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: -12px;
}
.steps > .complete > a,
.steps > .complete > a:hover {
  background-color: #e75735;
  border-color: #e75735;
  color: #ffffff;
}
.steps > .complete > a:before,
.steps > .complete > a:after {
  display: none;
}
.steps > .complete + .complete:before {
  background-color: #e75735;
  content: "";
  height: 4px;
  position: absolute;
  width: calc(100% - 16px);
  z-index: 2;
}
