mixin tick(options)
  - let {name= "name", id="id", check= true} = options;
  - let checked = check ? true : false;

  input.tick(type="radio" name= name  id= id  checked= checked)
  label.tick-label(for= id)