.tick {
  display: none;
}

.tick-label {
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: #e5e5e5 url("./img/check-off.svg") no-repeat center;
    border-radius: 100%;
  }
}

.tick:checked + .tick-label:before {
  background: #4eb7a8 url("./img/check.svg") no-repeat center;
}

.tick:checked + .tick-label:after {
  position: absolute;
  content: "";
  display: inline-block;
  border-radius: 100%;
  z-index: -1;
}
