.message__header{
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom, $main-green 70%, $second-green 30%);
    border-radius: 3px 3px 0 0;
}
.message__name {
    padding: 22px 0 62px 0;
    font-family: 'SourceSansPro-Light';
    font-size: 32px;
    color:$main-white;
}
.message__chat-icon {
    position: absolute;
    background-color: $second-gray;
    border: none;
    outline: none;
    top: 139px;
    left: 28px;
}
.message__camera-icon {
    position: absolute;
    background-color: $second-gray;
    border: none;
    outline: none;
    top: 137px;
    right: 27px;
}
.message__body {
    padding-top: 62px;
    padding-bottom: 32px;
    background-color: $second-gray;
    border-radius: 3px 3px 0 0;
    line-height: 16px;
}
.message__message-from {
    position: relative;
    width: 71%;
    margin: 0 auto;
    padding: 16px 18px 21px 20px;
    font-family: 'Lato Regular';
    letter-spacing: .025vw;
    font-size: 13px;
    background-color: $main-white;
    border-radius: 3px;
    color: #868686;
    margin-bottom: 17px;
}
.message__message-from::before {
    content: "";
    padding: 5px;
    position: absolute;
    top: -7%;
    left: 46%;
    transform: rotate(45deg);
    border-radius: .2vw;
    background-color: $main-white;
}       
.message__message-to {
    width: 72.5%;
    margin: 0 auto;
    margin-bottom: 6%;
    padding: 16px 12px 34px 18px;
    border: 0.1vw solid $main-white;
    background-color: $main-gray;
    border-radius: .2vw;
    font-family: 'Lato Regular';
    letter-spacing: .03vw;
    font-size: 80%;
    color:#777;
}
.message__reply-button {
    width: 85%;
    margin: auto;
}
.message__photo_block-image{
    width: 30%;
    position: absolute;
    border-radius: 50%;
    border:2px solid $main-gray;
    top: 60%;
    left: 33%;
}