mixin message(options)
    .message__box
        .message__header
            .message__chat-icon
                img(src=require('./img/chat.png') alt="chat icon")
            .message__camera-icon
                img(src=require('./img/camera.png') alt="camera icon")
            .message__name Sarah Brown
            img(class="message__photo_block-image" src= options.foto alt="User photo")
        .message__body
            .message__message-from= options.text1
            .message__message-to= options.text2
            .message__reply-button
               +button-ripple({name: options.button, small: false, green: true})