.message {
  &__header {
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom, $main-green 70%, #2ea192 30%);
    border-radius: $radius $radius 0 0;
  }
  &__chat {
    position: absolute;
    background-color: $second-gray;
    border: none;
    outline: none;
    top: 120%;
    left: 10%;
  }
  &__camera {
    position: absolute;
    background-color: $second-gray;
    border: none;
    outline: none;
    top: 120%;
    right: 10%;
  }
  &__name {
    padding: 9% 0 4.5rem 0;
    font-family: "SourceSansPro-Light";
    font-size: 2rem;
    color: $main-white;
  }
  &__photo {
    width: 30%;
    position: absolute;
    border-radius: 50%;
    border: 0.1rem solid $main-gray;
    top: 60%;
    left: 33%;
  }
  &__body {
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: $second-gray;
    border-radius: $radius $radius 0 0;
    line-height: 1rem;
    &_from {
      position: relative;
      width: 75%;
      margin: 0 auto;
      padding: 3.5% 3% 3.5% 6%;
      font-family: "Lato Regular";
      letter-spacing: 0.025rem;
      font-size: 0.9rem;
      background-color: $main-white;
      border-radius: $radius;
      color: #868686;
      margin-bottom: 1.1rem;
      &::before {
        content: "";
        padding: 0.3rem;
        position: absolute;
        top: -7%;
        left: 46%;
        transform: rotate(45deg);
        border-radius: 0.2rem;
        background-color: $main-white;
      }
    }
    &_to {
      width: 82%;
      margin: 0 auto;
      margin-bottom: 8%;
      background-color: $main-gray;
      border-radius: $radius;
    }
    &-button {
      width: 85%;
      margin: 0 auto 4%;
    }
  }
}
