.header__block{
    text-align:  center;
    background: white;
}
.header__tile{
    color:#4f4f4f;
    font-family: "Lato Black";
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1px;
}