.header{
    text-align:  center;
    background: white;
}
.header__tile{
color:red;//#4f4f4f;
font-family: "Lato Black";
font-size: 1.8vw;
font-weight: 400;
//line-height: 42px;
text-transform: uppercase;
letter-spacing: .09vw;
}