include ../header/header
include ../news/news
include ../event/event

mixin news-events(options) 
  - let {header="header", news={}, event={}} = options; 

  .news-events
    +header({header:header}) 

    .news-events__wrap
    
      .news-events__block
        +news(news)

      .news-events__block
        +event(event)