include ../../site-header/site-header
include ../../news/news
include ../../event/event
include ../../buttons/buttons

mixin first-site(options)
  - let {siteHeader={}, news= {}, event= {}} = options;

  +site-header(siteHeader)

  .headers
    h1.headers__name Зубы на полку 
    h2.headers__company Стоматологическая клиника  
    h3.headers__news Новости клиники

  .news-block
    each item in news
      .news-block__elem
        +news(item)

    each item in event
      .news-block__elem
        +event(item)
