.first-site {
  &__headers {
    text-align: center;
  }

  &__name {
    text-transform: uppercase;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin: auto;

    @media screen and (max-width: 590px) {
      width: 100%;
    }

    @media screen and (max-width: 920px) {
      display: block;
    }
  }

  &__element {
    width: 40%;
    margin-bottom: 2rem;

    @media screen and (max-width: 920px) {
      width: 80%;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
}
