include ../../site-header/site-header
include ../../news/news
include ../../event/event
include ../../buttons/buttons

mixin first-site(options)
  - let {siteHeader={}, news= {}, event= {}} = options;

  .first-site
    +site-header(siteHeader)

    .first-site__headers
      h1.first-site__name Зубы на полку 
      h2.first-site__company Стоматологическая клиника  
      h3.first-site__news Новости клиники

    .first-site__block
      each item in news
        .first-site__element
          +news(item)

      each item in event
        .first-site__element
          +event(item)
