include ../header/header
include ../toggle/toggle
include ../tick/tick

mixin toggles-tick(options)
	-	let {toggleHeader="header", checkOff="", checkOn="", tickHeader="header", tick=[]} = options;

	.toggles-tick
		+header({header: toggleHeader})

		.toggles-tick__block
			.toggles-tick__block.toggles-tick__block_off
				+toggle({check: checkOff})
			.toggles-tick__block.toggles-tick__block_on 
				+toggle({check: checkOn})

		+header({header: tickHeader})

		.tick-box
			each item in tick
				+tick(item)
