.togglesTick {
  padding-top: 0.4%;

  .toggles__block {
    margin: 10% auto 11.7%;
    text-align: center;

    &_off {
      display: inline-block;
    }

    &_on {
      display: inline-block;
      margin-left: 4%;
    }
  }
}

.tick-box {
  margin-top: 10.2%;
  margin: 10.2% auto;
  display: flex;
  justify-content: space-between;
  width: 21%;
}
