include ../header/header
include ../toggle/toggle
include ../tick/tick

mixin toggles-tick(options)
	-	let {toggleheader="header", checkone="", checksecond="", tickheader="header", tick=[]} = options;

	.toggles-tick
		+header({header: toggleheader})

		.toggles-tick__block
			.toggles-tick__block.toggles-tick__block_off
				+toggle({check: checkone})
			.toggles-tick__block.toggles-tick__block_on 
				+toggle({check: checksecond})

		+header({header: tickheader})

		.tick-box
			each item in tick
				+tick(item)
