.forms {

  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5.8%;
  }

  &__element {
    width: 48.5%;

    &:nth-child(2) {
      padding-top: 1.6%;
    }

    &:nth-child(3),
    &:nth-child(4) {
      padding-top: 9.8%;
    }
  }
}
