include ../../site-header/site-header
include ../../header/header
include ../../buttons/buttons
include ../../button/button
include ../../text-area/text-area
include ../../map/map

mixin contacts-site(options)
  - let {siteHeader={}, headCont="headCont", phone=[], email="", headerText="headerText", text={}, button={}, map={}} = options;

  .contacts-site
    +site-header(siteHeader) 

    .contacts
      .contacts__block
        +header({header:headCont})

        p.contacts__text   Контактные телефоны: 
        each item in phone
          p.contacts__text
            a.contacts__link(href=`tel: ${item.tel}`)=  item.tel

        p.contacts__text   Эл. почта: 
        p.contacts__text
          a.contacts__link(href=`mailto: ${email}`)=  email

      .contacts__block
        +header({header:headerText})

        +text-area(text)

        .contacts__button
          +button(button) 

    .contacts__map
      +map(map)
