include ../../site-header/site-header
include ../../message/message
include ../../text-area/text-area
include ../../buttons/buttons

mixin online-site(options)
  - let {siteHeader={}, message={}} = options;

  .online-site
    +site-header(siteHeader)

    h2.online-site__header Онлайн консультация
    .online-site__block
      +message(message)
