mixin percent(options)
  - let {num= 100} = options;

  .percent.js-percent
    .percent__circle(data-percent= num)
      svg.percent__svg
        use.percent__svg-inner(xlink:href="#percent__circle-svg")

    svg.percent__svg.percent__svg_hidden
      circle(id="percent__circle-svg", cx="50%", cy="50%", r="50%", stroke-alignment="inner")