mixin tick(parametr)
  -   
    var checked = parametr.checked ? true : false
  input(type="radio" name= parametr.name  id= parametr.id class="ui-radio" checked= checked)
  label(for= parametr.id class="ui-radio-label")