mixin map(parametr)
        div(id="map" class="map" data-marker= parametr.marker data-lat= parametr.lat data-lng= parametr.lng data-zoom= parametr.zoom)
        .map_menu 
            .head Meet us!
            .adress 1259  CALIFORNIA ST San Francisco, CA
            .icon
                .locat
                .pin