.stage {
  background-color: #e5e5e5;
  height: 0.25rem;
  list-style-type: none;
  padding: 0;

  &__filled {
    float: left;
    min-height: 1px;
    position: relative;
  }

  &__number {
    background-color: #e5e5e5;
    border-radius: 50%;
    color: #888888;
    font-weight: bold;
    height: 1.7rem;
    width: 1.7rem;
    right: -0.7rem;
    line-height: 1.6rem;
    position: absolute;
    text-align: center;
    top: -0.8rem;
  }
}

.stage__filled_point > .stage__number,
.stage__filled_point > .stage__number:hover {
  background-color: #e75735;
  color: #ffffff;
}

.stage__filled_point + .stage__filled_point:before {
  background-color: #e75735;
  content: "";
  height: 0.25rem;
  position: absolute;
  width: calc(100% - 0.8rem);
  z-index: 2;
}
