
.stage {
  background-color: #e5e5e5;
  height: .25rem;
  list-style-type: none;
  padding: 0;

  &__steps {
    float: left;
    min-height: 1px;
    position: relative;
  }

  &__number {
    background-color: #e5e5e5;
    border-radius: 50%;
    color: #888888;
    font-family: "latoblack";
    height: 1.7rem;
    width: 1.7rem;
    right: -.7rem;
    line-height: 1.6rem;
    position: absolute;
    text-align: center;
    top: -.8rem;
  }
}

.stage__steps_color > .stage__number,
.stage__steps_color > .stage__number:hover {
  background-color: #e75735;
  color: #ffffff;
}

.stage__steps_color + .stage__steps_color:before {
  background-color: #e75735;
  content: "";
  height: .25rem;
  position: absolute;
  width: calc(100% - .8rem);
  z-index: 2;
}
