mixin stage(options)
  - let {min=1, max=5, value=3} = options;

  ul.stage.js-stage(data-max= max data-value= value)

    - for (let i = min; i <= max; i += 1) {
      -if (i <= value){
        li.stage__filled.stage__filled_point
          .stage__number= i
      -} else {
        li.stage__filled
          .stage__number= i
      -};
    -};