mixin search(options)
  - let {placeholder='placeholder', error=''} = options;
  - let classSearch = 'search__field ';
  - classSearch += error;

  .search
    input(class= classSearch type="text" name="search" placeholder= placeholder)
    button(class="search__button" type="submit")