.arrow__button {
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  padding: 0;
  outline: none;
  border: none;
  background: none;

  .arrow {
    display: inline-block;

    cursor: pointer;
    width: 2.8rem;
    height: 2.7rem;
    line-height: 2.5rem;
    border: .25rem solid #44ae9f;
    border-radius: 50%;

    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-left: 10%;
      width: 0.84rem;
      height: 0.84rem;
      border-top: .25rem solid #44ae9f;
      border-right: .25rem solid #44ae9f;
      transform: rotate(-135deg);
    }

    &:hover {
      background: #44ae9f;

      &::after {
        border-top-color: #ffffff;
        border-right-color: #ffffff;
      }
    }

    &_direction_right {

      &::after {
        margin-left: 0;
        border-top: none;
        border-right: none;
        margin-right: 13%;
        border-bottom: .25rem solid #44ae9f;
        border-left: .25rem solid #44ae9f;
      }

      &:hover {

        &::after {
          border-bottom-color: #ffffff;
          border-left-color: #ffffff;
        }
      }
    }
  }
}

.arrow__button:disabled .arrow {
  cursor: default;
  background-color: #e5e5e5;
  border: 3px solid #e5e5e5;

  &::after {
    border-top: .25rem solid #ffffff;
    border-right: .25rem solid #ffffff;
  }

  &:hover {
    background-color: #e5e5e5;
  }
}

.arrow__button:disabled .arrow_direction_right::after {
  margin-left: 0;
  border-top: none;
  border-right: none;
  border-bottom: .25rem solid #ffffff;
  border-left: .25rem solid #ffffff;
}

.arrow_hover {
  background: #44ae9f;
  > .arrow::after {
    border-top: .25rem solid #ffffff;
    border-right: .25rem solid #ffffff;
  }
  > .arrow_direction_right::after {
    border-top: none;
    border-right: none;
    border-bottom: .25rem solid #ffffff;
    border-left: .25rem solid #ffffff;
  }
}
