mixin arrow-button(options)
  - let {right= false, disabled= false, hover= false} = options;
  - let arrowButton = "arrow-button";
  - let arrowDirection= "arrow-button__arrow";
  - let disable = disabled ? true : false;
  - arrowDirection += right  ? " arrow-button__arrow_direction_right" : " arrow-button__arrow_direction_left";
  - arrowButton += hover ? " arrow-button_hover" : "";

  button(class= arrowButton type="button" disabled= disable) 
    span(class= arrowDirection)