mixin arrow-button(options)
  - let {right= false, disabled= false, hover= false} = options;
  - let arrowRight = "arrow";
  - let arrowButton = "arrow__button";
  - let disable = disabled ? true : false;
  - arrowRight += right  ? " arrow_direction_right" : "";
  - arrowButton += hover ? " arrow_hover" : "";

  button(class= arrowButton type="button" disabled= disable) 
    span(class= arrowRight)