.search-form {
  padding: 2.9% 0;
  &__block {
    display: flex;
    &_field {
      background-color: $main-gray;
      outline: none;
      border: none;
      padding: 2.2%;
      width: 84.2%;
      border-radius: $radius 0 0 $radius;
      &::placeholder {
        padding-left: 0.3rem;
      }
    }
    &_button {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: url("./img/search.svg");
      background-position: center center;
      background-size: 0.9rem;
      background-repeat: no-repeat;
      color: #888;
      font: inherit;
      font-weight: normal;
      background-color: $main-red;
      border: none;
      outline: none;
      &:last-child {
        border-radius: 0 $radius $radius 0;
      }
    }
    .search-error {
      background: $main-red;
      &::placeholder {
        color: $main-white;
      }
    }
  }
}
