include ../../site-header/site-header
include ../../header/header
include ../../percent/percent
include ../../range-slider/range-slider
include ../../bubble-slider/bubble-slider
include ../../toggle/toggle

mixin discount-site(options)
  - let {siteHeader={}, lenght=4, percent=[], percentHeader=[], headerAge="Ваш возраст", age={}, headerTooth="", slider={}, headerCoupon="", check="" } = options;
  - let a = percent.lenght;

  +site-header(siteHeader)

  h1.write Скидки и акции

  .discount 
    .discount__block
      - for (let i = 0; i < lenght; i += 1) {
        +header(percentHeader[i])  
        +percent(percent[i])
      -};

    .discount__slider
      .discount-slider
        .discount-slider__header
          +header({header:headerAge})

        +range-slider(age)

      .discount-slider
        .discount-slider__header
          +header({header:headerTooth})

        +bubble-slider(slider)

      .discount-slider
        .discount-slider__header
          +header({header:headerCoupon}) 

        .discount-slider__toggle
          +toggle({check:check})   
