include ../../site-header/site-header
include ../../header/header
include ../../percent/percent
include ../../range-slider/range-slider
include ../../bubble-slider/bubble-slider
include ../../toggle/toggle

mixin discount-site(options)
  - let {siteHeader={}, length=4, percent=[], percentHeader=[], headerAge="Ваш возраст", age={}, headerTooth="", slider={}, headerCoupon="", check="" } = options;
  - let a = percent.length;

  .discount-site
    +site-header(siteHeader)

    h1.discount-site__header Скидки и акции

    .discount-site__wrapper 
      .discount-site__block
        - for (let i = 0; i < length; i += 1) {
          +header(percentHeader[i])  
          +percent(percent[i])
        -};

      .discount-site__slider
        .discount-site__slider-block
          .discount-site__slider-header
            +header({header:headerAge})

          +range-slider(age)

        .discount-site__slider-block
          .discount-site__slider-header
            +header({header:headerTooth})

          +bubble-slider(slider)

        .discount-site__slider-block
          .discount-site__slider-header
            +header({header:headerCoupon}) 

          .discount-site__slider-toggle
            +toggle({check:check})   
