.write {
  margin: 4% auto;
  text-align: center;
}
.discount {
  display: flex;

  @media screen and (max-width: 700px) {
    display: block;
  }

  &__block {
    text-align: center;
    margin-left: auto;
  }

  &__slider {
    margin: 0 auto;
  }

  &-slider {
    padding-top: 10%;
    width: 90%;
    &__header {
      margin: 0 auto;
      padding-bottom: 10%;
    }

    &__toggle {
      text-align: center;
    }
  }
}
