.discount-site {
  &__wrapper {
    display: flex;

    @media screen and (max-width: 700px) {
      display: block;
    }
  }

  &__header {
    margin: 4% auto;
    text-align: center;
  }

  &__block {
    text-align: center;
    margin-left: auto;
  }

  &__slider {
    margin: 0 auto;
    &-block {
      padding-top: 10%;
      width: 90%;
    }

    &-header {
      margin: 0 auto;
      padding-bottom: 10%;
    }

    &-toggle {
      text-align: center;
    }
  }
}
