mixin event(parametr)
  .event
    img(class="event__img" src= parametr.img alt="bike")
    .event__text
      .event__text_data
        .event__text_data-num= parametr.dataNum
        .event__text_data-month= parametr.dataMonth
      .event__text_header=  parametr.header
      .event__text_info= parametr.text
      .event__text_button
        +button-ripple({name: "add to calendar", small: true, green: true})