mixin event(options)
  - let {img="img", header="header", dataNum="24", dataMonth="12", text="text", buttonText="text"} = options;
  .event
    img(class="event__img" src= img alt="bike")
    .event__text
      .event__text_data
        .event__text_data-num= dataNum
        .event__text_data-month= dataMonth
      .event__text_header=  header
      .event__text_info= text
      .event__text_button
        +button-ripple({text: buttonText, small: true, green: true})