include ../button/button

mixin event(options)
  - let {img="img", header="header", dataNum="24", dataMonth="12", text="text", button={}} = options;

  .event
    img(class="event__img" src= img alt="bike")

    .event-text
      .event-text__data
        .event-text__data-num= dataNum
        .event-text__data-month= dataMonth
      .event-text__header=  header
      .event-text__info= text
      .event-text__button
        +button(button)