include ../button/button

mixin event(options)
  - let {img="img", header="header", dataNum="24", dataMonth="12", text="text", button={}} = options;

  .event
    img(class="event__img" src= img alt="bike")

    .event__block
      .event__data
        .event__data-num= dataNum
        .event__data-month= dataMonth
      .event__header=  header
      .event__info= text
      .event__button
        +button(button)