mixin form()
    .form
        .login-page__main-form
            +entry-field({placeholder:'Your Name', type:'text', name:'form', correct: false})
        .login-page__main-form.second
            +entry-field({placeholder:'Your Email', type:'text', name:'form', correct: true})
        .text-area__main-form
            +text-area({text:'Your Message', name:'form'})
        .form__button        
            +button-ripple({name: 'submit', small: false, green: true})
            .clear