.login-page__main-form{
    margin-bottom: 11px;  
}
.text-area__main-form{
    width: 286px;
    height: 87px;
}
.form__button{
    float: right;
    margin-top: 11px;
    width: 120px;
}
.second{
    margin-top:-1px;
}