include ../header/header
include ../calendar/calendar
include ../message/message

mixin calendar-message(options)
  - let {calendarHead="header", calendar={}, messagingHead="header", messaging={}} = options;

  .calendar-message
    .calendar-message__block
      +header({header:calendarHead})
      .calendar-message__calendar
        +calendar(calendar)

    .calendar-message__block
      +header({header:messagingHead})
      .calendar-message__message
        +message(messaging)