include ../header/header
include ../calendar/calendar
include ../message/message

mixin calendar-message(options)
  - let {calendarhead="header", calendar={}, messaginghead="header", messaging={}} = options;
  .wrap
    .wrap__block
      +header({header:calendarhead})
      +calendar(calendar)

    .wrap__block
      +header({header:messaginghead})
      +message(messaging)