.user-profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .photo-block__image {
    border: 3px solid #e5e5e5;
    border-radius: 50%;
    width: 31.5%;
    height: 31.5%;
  }
  &__tooltip {
    width: 61%;
    position: relative;
    background: #e5e5e5;
    border-radius: .25rem;
    &:before {
      content: "";
      border: solid transparent;
      position: absolute;
      right: 100%;
      top: 45%;
      border-right-color: #e5e5e5;
      border-width: 0.3rem;
    }
    &_green {
      background: #44ae9f;
      color: #ffffff;
      &:before {
        border-right-color: #44ae9f;
      }
    }
    &_name {
      color: #e75735;
      padding-top: 6%;
      font-size: 1.2rem;
      text-align: center;
    }
    &_job {
      padding-top: 4%;
      font-size: 0.7rem;
      letter-spacing: 0.05rem;
      text-align: center;
      text-transform: uppercase;
    }
    .social {
      width: 55%;
      padding: 6% 0;
      margin: auto;
      display: flex;
      &__link {
        margin: auto;
      }
    }
  }
}
