mixin user-profile(options)
  -  let {img ="img", name = "name", job = "job", color = "", socialNetwork=[]} = options; 
  -  let theme = "user-profile__tooltip";
  -  theme += color === "green" ? " user-profile__tooltip_green" : "";

  .user-profile
    img.user-profile__image(src= img alt="User photo")

    div(class= theme)
      .user-profile__name= name
      .user-profile__job= job

      .social
        each item in socialNetwork
          - let {websiteAddress="/mock-address/change-me", websiteImg="", imgAlt=""} = item

          a.social__link(href= websiteAddress, target="_blank", rel="noopener noreferrer")
            img(src= websiteImg alt= imgAlt)

