mixin user-profile(options)
  -  let {img ="img", name = "name", job = "job", color = "", socialNetwork=[]} = options; 
  -  let theme = "user-profile__tooltip";
  -  let userName = "user-profile__name";
  -  theme += color === "green" ? " user-profile__tooltip_background_green" : "";
  -  userName += color === "green" ? " user-profile__name_text-color_white" : "";

  .user-profile
    img.user-profile__image(src= img alt="User photo")

    div(class= theme)
      div(class= userName)= name
      .user-profile__job= job

      .user-profile__social
        each item in socialNetwork
          - let {websiteAddress="/mock-address/change-me", websiteImg="", imgAlt=""} = item

          a.user-profile__link(href= websiteAddress, target="_blank", rel="noopener noreferrer")
            img.user-profile__link-logo(src= websiteImg alt= imgAlt)
