.user-profile {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__image {
    border: 3px solid #e5e5e5;
    border-radius: 50%;
    width: 31.5%;
    height: 31.5%;
  }

  &__tooltip {
    width: 61%;
    position: relative;
    background: #e5e5e5;
    border-radius: 0.5rem;

    &:before {
      content: "";
      border: solid transparent;
      position: absolute;
      right: 100%;
      top: 45%;
      border-right-color: #e5e5e5;
      border-width: 0.3rem;
    }

    &_background_green {
      background: #44ae9f;
      color: #ffffff;

      &:before {
        border-right-color: #44ae9f;
      }
    }
  }

  &__name {
    font-family: "lato-light", "Arial", "Sans-Serif";
    font-weight: 700;
    color: #e75735;
    padding-top: 3%;
    font-size: 1.2rem;
    text-align: center;
  }

  &__job {
    padding-top: 1.5%;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__social {
    width: 57%;
    padding: 7.5% 0 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}
