.contacts__block{
    display: flex;
    margin-top: 3%;
}
.contacts__block_text{
    width: 30%;
    text-align: center;
}
.contacts-map{
    width: 500px;
    height: 300px;
    margin:10% auto;
}
.block_tel{
    font-size: 1vw;
}
.wrapper__main_form{
    margin: auto
}