@import 'entry-field/entry-field';
@import 'text-area/text-area';
.wrapper__main_block{
    display: flex;
    justify-content: space-around;
}
.wrapper__block_left{
    padding-top: 5%;
    width: 20%;
    margin-left: 20%;
}
.wrapper__block_right{
    padding-top: 3.6%;
    width: 25%;
    margin-left: 1%;
    margin-right: 20%;
}
.wrapper__main_radio{
    width:20%;
    margin:3% auto;
    display: flex;
    justify-content: space-between;
}
.wrapper__main_header{
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
}
.wrapper__main_form{
    width: 100%;
    margin-bottom: 5px;
}
.wrapper__main_sex{
    margin-top: 5%;
    margin-bottom: 5%;
}
