.wrapper__main_block {
  display: flex;
  .wrapper__block_left {
    padding-top: 50px;
    width: 500px;
    margin: 0 auto 30px;
  }
  .wrapper__block_right {
    width: 300px;
    margin: auto;
    .wrapper__main_sex {
      margin-bottom: 20px;
      .wrapper__main_radio {
        width: 20%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
@media screen and (max-width: 810px) {
  .wrapper__main_block {
    .wrapper__block_left {
      width: 300px;
    }
  }
}
@media screen and (max-width: 630px) {
  .wrapper__main_block {
    display: block;
  }
}
