.staff__block {
  display: flex;
  .staff__block-video {
    margin-left: auto;
    margin-top: 2.5rem;
    .video-staff {
      margin-top: 30px;
      width: 40rem;
      height: 22rem;
    }
  }
  .doctor {
    width: 15%;
    margin-right: auto;
    margin-top: 3.5rem;
    margin-left: 3%;
    .doctor__block {
      margin-top: 12%;
    }
  }
}
@media screen and (max-width: 950px) {
  .staff__block {
    display: block;
    .staff__block-video {
      .video-staff {
        margin: auto;
      }
    }
    .doctor {
      width: 35%;
      margin: auto;
    }
  }
}
@media screen and (max-width: 620px) {
  .staff__block {
    .staff__block-video {
      .video-staff {
        width: 100%;
      }
    }
    .doctor {
      width: 50%;
      margin: auto;
    }
  }
}
