.staff__block{
    display: flex;
}
.staff__block-video{
    margin-left: auto;
    margin-top: 5%;
}
.staff{
    width: 20%;
    margin-right: auto;
    margin-top: 5%;
    margin-left:2%; 
}
.staff__block-block{
    margin-top:2%; 
}
.video-staff{
    margin-top: 5%;
    width: 600px;
    height: 300px;
}