.content {
  margin: 4.3% auto;
  max-width: 600px;
}
.standart-buttons {
  margin: auto;
  padding: 10% 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  &__block {
    display: inline-block;
    margin: 0 4%;
    vertical-align: bottom;
  }
}
.arrow-buttons {
  padding: 5% 0;
  &__block {
    display: flex;
    justify-content: space-between;
    padding: 30px 26px 0;
  }
}
.percentages {
  padding: 5% 0;
  &__block {
    display: inline-block;
    margin: 8% 1.7%;
  }
}
.sliders__left {
  float: left;
  width: 45%;
  margin-left: 4px;
  margin-top: 6.5%;
}
.sliders__right {
  float: right;
  width: 45%;
  margin-top: 2px;
}
.stages {
  padding: 5% 0;
  &__block {
    padding-top: 2%;
  }
}
.form-elements {
  &__form {
    float: left;
    padding: 2.4rem 0 0 0;
    width: 48%;
    &_button {
      float: right;
      margin-top: 4%;
    }
  }
}
.form-elements__togglesTick {
  float: right;
  padding: 3rem 5rem 6rem 0;
  .toggles__block {
    margin: 2.1rem auto;
    &_off {
      display: inline-block;
    }
    &_on {
      display: inline-block;
      margin-left: 1rem;
    }
  }
}
.tick-box {
  margin-top: 1.7rem;
  text-align: center;
}
.form-elements__block_left {
  float: left;
  margin: 40px 0 0 2px;
  width: 48%;
}
.form-elements__block_right {
  float: right;
  margin: 40px 0 0 2px;
  width: 280px;
  height: 243px;
}
.news-events {
  &__block_left {
    float: left;
    width: 48%;
  }
  &__block_right {
    float: right;
    width: 48%;
  }
}
.location {
  padding: 5% 0;
  .location__block {
    margin-top: 26px;
    height: 273px;
  }
}
.calendar-block {
  float: left;
  width: 47%;
}
.calendar__block {
  width: 48%;
}
.messaging {
  float: right;
  width: 289px;
  height: 528px;
  margin-right: 3px;
}
.clear {
  padding: 5%;
  clear: both;
}
.video {
  height: 390px;
}
