.text-area{
    width: 276px;
    min-height: 50px;
    height: 76px;
    padding: 10px 0 0 13px;
    font-family: 'Lato Light';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .4px;
    color:#888;
    background-color: $main-gray;
    outline: none;
    border: none;
    border-radius: 5px;
    resize: none;
}