mixin range-slider(options)
  -let {min=0, max=100, step=1, value=0} = options;
  .wrap-range
    input.range( type="range" min= min max= max value= value step= step)
    .range__scale
          -for (let i = min; i <= max; i += step) {
              .range__digit= i
          -}               