mixin bubble-slider(min, max, step)
    .range-control
        input(class="bubbleSlider__input"  id="range" type="range" min= min max= max step= step value="40")
        label(class="bubbleSlider__label" for="range") 40