mixin bubble-slider(min, max, step, value)
    .range-control
        input(class="bubbleSlider__input"  id="range" type="range" min= min max= max step= step value= value)
        label(class="bubbleSlider__label" for="range")=value