mixin site-header(options)
  - let {headTitle="headTitle", menu={}} = options;

  .site-header
    header.site-header__header
      nav.site-header__navigation
        a.site-header__logo(href="index.html")= headTitle

        menu.site-header__menu
          each item in menu
            li.site-header__menu-element
              a(href= item.link class="link")= item.title  

      a.site-header__ui-kit(href="ui-kit.html") UI-KIT
