$grey: #747474;
$red: #e75735;
$green: #4eb7a8;

@mixin prefixed($property, $value) {
  -webkit-#{$property}: $value;
  -khtml-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

.pie-chart {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: #e5e5e5;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    z-index: 10;
  }

  &:before {
    top: 18%;
    bottom: 18%;
    left: 18%;
    right: 18%;
    background: #ffffff;
  }

  &__block_color {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    left: 50%;
    @include prefixed(transform-origin, left center);

    .before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: -99%;
      @include prefixed(transform-origin, right center);
    }

    &.big {
      width: 100%;
      height: 100%;
      left: 0%;
      @include prefixed(transform-origin, center);
      .before {
        left: 0;
        width: 50%;
      }

      &:after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
      }
    }
    &:nth-child(1) .before,
    &:nth-child(1):after {
      background: $grey;
    }

    &:nth-child(2) .before,
    &:nth-child(2):after {
      background: $red;
    }

    &:nth-child(3) .before,
    &:nth-child(3):after {
      background: $green;
    }
  }
}
