mixin pie-chart(options)
  -let {one=10, two=10, three=10} = options;

  .pie-chart(data-doughnut)
    .pie-chart__block_color(data-doughnut-value= one)
    .pie-chart__block_color(data-doughnut-value= two)
    .pie-chart__block_color(data-doughnut-value= three)