.map {
  width: 100%;
  height: 100%;
  display: block;

  &__location {
    height: 76.2%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &__menu {
    background: #e75735;
    width: 100%;
    padding: 2.6% 0 3.3%;
    display: flex;
    border-radius: 0 0 0.25rem 0.25rem;
    color: #ffffff;
  }

  &__head {
    font-family: "lato-light", "Arial", "Sans-Serif";
    font-size: 1.8rem;
    padding-left: 4.6%;
    vertical-align: middle;
    letter-spacing: 0.026rem;
  }

  &__address {
    font-family: "lato-light", "Arial", "Sans-Serif";
    text-transform: uppercase;
    font-size: 0.75rem;
    width: 25%;
    padding-left: 4.1%;
    letter-spacing: 0.07rem;
    line-height: 0.95rem;
    padding-top: 0.5%;
  }

  &__icon {
    display: flex;
    flex-grow: 1;
    padding: 0.4% 2.2% 0;
    justify-content: flex-end;

    &-location {
      background: url("./img/location.svg") no-repeat center;
      width: 2rem;
      padding-left: 5%;
    }

    &-pin {
      background: url("./img/pin.svg") no-repeat center;
      width: 2rem;
      padding-left: 4.5%;
    }
  }
}
