mixin map(options)
  -let {marker="marker", lat="lat", lng="lng", zoom="zoom", city="city", title="title"} = options;

  .map.js-map( data-marker= marker data-lat= lat data-lng= lng data-zoom= zoom)
  .map__menu 
    .map__head= title
    .map__adress= city
    .map__icon
      .map__icon_locat
      .map__icon_pin