.entry-field {
  display: flex;

  &__state {
    width: 30%;
    padding: 5.1% 0 0;
    position: relative;
    background: #44ae9f;
    border-radius: 0.2rem;
    margin: 0 0.3% 0.2% 2.3%;
    text-align: center;
    color: #ffffff;
    font-size: 0.6rem;
    line-height: 2%;
    letter-spacing: 0.07rem;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      right: 99%;
      top: 35%;
      border: 4px solid transparent;
      border-right-color: #44ae9f;
      z-index: -1;
    }
  }

  &__form {
    font-family: "sourcesanspro-light", "Arial", "Sans-Serif";
    background-color: #e5e5e5;
    outline: none;
    border: none;
    padding: 2.1% 4.6%;
    letter-spacing: 0.04rem;
    width: 76%;
    border-radius: 0.2rem;
    margin-left: 1.2%;
  }
}

.correct_error {
  background: #e75735;
  &:after {
    border-right-color: #e75735;
  }
}
