mixin entry-field(options)
  - let {placeholder="placeholder",  name="name", correct= false} = options;
  - let correctClass = 'entry-field__state ';
  - correctClass += correct ? '' : 'entry-field__state_error';
  - let correctText = correct ? 'thanks!' : 'error'; 

  .entry-field
    input(class="entry-field__form" type="text" name= name placeholder= placeholder)
    div(class= correctClass)= correctText