include ../header/header
include ../button-ripple/button-ripple

mixin buttons(options) 
  - let {header="header", buttons=[]} = options;
  +header({header: header})
  .standart-buttons
    .standart-buttons__block
      each item in buttons  
        +button-ripple(item)