include ../header/header
include ../button/button

mixin buttons(options) 
  - let {header="header", buttons=[]} = options;

  .buttons
    +header({header: header})

    .buttons__block
      each item in buttons  
        .buttons__element
          +button(item)