include ../header/header
include ../button/button

mixin buttons(options) 
  - let {header="header", buttons=[]} = options;

  +header({header: header})

  .buttons

    each item in buttons  
      .buttons__block
        +button(item)