mixin toggle(options)
  -  let {isChecked= false } = options;

  label.toggle
    input.toggle__input( id="switch" type="checkbox"  checked= isChecked)

    .toggle__on-off                          
    .toggle__ball