.news__block{
    display: flex;
}
.news__img{
    width: 33%;
    border-radius: .2vw 0 0 .2vw;
}
.news__block_text{
    background: $main-red;
    width: 67.01%;
    height: 11.017vw;
    border-radius:0 .2vw .2vw 0;
    color:$main-white;
    padding-left: 8%;
    text-align: left;
}
.news__block_header{
    font-family:'Lato Light';
    font-size: 1.45vw;
    padding-top: 12.5%;
}
.news__block_data{
    font-family:'Lato Regular';
    font-size: .65vw;
    padding-top: 7%; 
}
.news__block_info{
    font-family:'Lato Light';
    font-size: .65vw;
    padding-top: 7%;
    padding-right:10%; 
    line-height: .7vw;
    letter-spacing: -.003vw;
}