.event__block{
    display: flex;
}
.event__img{
    width: 33%;
    border-radius: .2vw 0 0 .2vw;
}
.event__block_text{
    background: $main-green;
    width: 67.01%;
    height: 11.017vw;
    border-radius:0 .2vw .2vw 0;
    color:$main-white;
    padding-left: 6%;
    text-align: left;
}
.event__block_header{
    text-transform: uppercase;
    font-family:'Lato Regular';
    font-size: .7vw;
    padding-top: 9.5%;
    margin-left: 3%;
}
.event__block_data{
    display: flex;
}
.event__block_data-num{
    font-family:'Lato Light';
    font-size: 3.8vw;
    padding-top: 7%;
}
.event__block_data-month{
    font-family:'Lato Light';
    font-size: 1.5vw;
    padding-top: 29%;
    padding-left: 6%;
}
.event__block_info{
    font-family:'Lato Light';
    font-size: .65vw;
    padding-top:2.5%; 
    margin-left: 2.5%;
    line-height: .7vw;
    letter-spacing: -.003vw;
}
.event__block_button{
    width: 74%;
    margin-left:8%; 
    margin-top: 10%;
}