.event {
  display: flex;
  &__img {
    width: 33%;
    border-radius: $radius 0 0 $radius;
  }
  &__text {
    background: $main-green;
    width: 67.01%;
    border-radius: 0 $radius $radius 0;
    color: $main-white;
    padding-left: 6%;
    text-align: left;
    &_data {
      display: flex;
      font-family: "Lato Light";
      &-num {
        font-size: 4.5rem;
        padding-top: 7.8%;
      }
      &-month {
        font-size: 1.8rem;
        padding-top: 30%;
        padding-left: 6%;
      }
    }
    &_header {
      text-transform: uppercase;
      font-family: "Lato Regular";
      font-size: 0.73rem;
      letter-spacing: 0.05rem;
      padding-top: 9%;
      margin-left: 3%;
    }
    &_info {
      font-family: "Lato Light";
      font-size: 0.7rem;
      padding-top: 4%;
      margin-left: 3%;
      letter-spacing: 0.04rem;
      line-height: 0.8rem;
    }
    &_button {
      width: 74%;
      padding: 11% 0 5% 8%;
    }
  }
}
