extends template/template
include site-header/site-header
include header/header
include percent/percent
include range-slider/range-slider
include bubble-Slider/bubble-Slider
include toggle/toggle

block content
  +site-header()
  h2.inform-header Скидки и акции
  .discount 
    .discount__block
      +header('скидка за каждую пломбу')   
      +percent(5) 
      +header('скидка на удаление зуба')
      +percent(20)
      +header('скидка на виниры')
      +percent(43)
      +header('скидка на брекеты')
      +percent(60)
    .discount__slider
      .discount__slider-range
        +header('Ваш возраст')
        +range()
      .discount__slider_bubble
        +header('Количество зубов')
        +bubble-slider(0, 32, 1, 0)
      .discount__coupon
        +header('У Вас есть дисконтная карта?') 
        .discount__coupon-toggle
          +toggle('checked')   
