extends template/template

include site-header/site-header
include footer/footer


block content
    .wrapper
        .wrapper__header
            +site-header()
        .wrapper__main  
            
        .wrapper__footer
            +footer()
