extends template/template

block content
    .content
        .standart-buttons
            .header
            .standart-buttons__block
                .standart-buttons__block_small-button
                .standart-buttons__block_button
                .standart-buttons__block_button
                .standart-buttons__block_small-button
                .standart-buttons__block_small-button
                .standart-buttons__block_button
                .standart-buttons__block_button
                .standart-buttons__block_small-button
                .standart-buttons__block_small-button
                .standart-buttons__block_button
                .standart-buttons__block_button
                .standart-buttons__block_small-button
        .arrow-buttons
            .header
            .arrow-buttons__block
                .arrow-buttons__block_button
                .arrow-buttons__block_button
                .arrow-buttons__block_button
                .arrow-buttons__block_button
                .arrow-buttons__block_button
                .arrow-buttons__block_button
        .percentages
            .header
            .percentages__block
                .percentages__block_percent
                .percentages__block_percent
                .percentages__block_percent.percentages__block_third
                .percentages__block_percent.percentages__block_fourth
                .percentages__block_percent.percentages__block_fifth
                
        .sliders
            .header
            .sliders__block_left
            .sliders__block_right
            .clear
        .stages
            .header
            .stages__block
        .form-elements
            .header
            .form-elements__block
                .form-elements__block_left
                .form-elements__block_right
                    .header
                .clear 
                .form-elements__block_left
                    .header    
                .form-elements__block_right 
                    .header 
                    .form-elements__block_right-profile
                    .form-elements__block_right-profile
                .clear  
        .news-events
            .header 
            .news-events__block_left
            .news-events__block_right
        .location
            .header
            .location__block
        .calendar
            .header 
            .calendar__block       
        .messaging
            .header
            .messaging__block
        .clear
        .video
            .header 
            .video__block   