extends template/template

include site-header/site-header
include news/news
include event/event
include buttons/buttons


block content
    -
        var news = {img:require('./img/photo3.png'), header: 'It’s all going downhill', data: '24  august  2013', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.'}
        var event = {img:require('./img/photo4.png'), header: 'this is the title', dataNum: '24', dataMonth:'Aug', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'}
 
    +site-header()
    h2.company Стоматологическая клиника 
    h1.company-name Зубы на полку  
    h3.company-news Новости клиники
    .news-block
        .news-block__elem
            +news(news)
        .news-block__elem
            +event(event)
        .news-block__elem
            +event(event)   
        .news-block__elem
            +news(news)