extends template/template

include header/header
include buttons/buttons
include arrow-button/arrow-button
include pieChart/pieChart

include form/form
include toggle/toggle
include tick/tick
include search/search
include select/select
include user-profile/user-profile
include news/news
include event/event
include map/map
include video/video


block content
    -
        var news = {img:"./src/img/photo3.png", header: 'It’s all going downhill', data: '24  august  2013', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.'}
        var event = {img:"./src/img/photo4.png", header: 'this is the title', dataNum: '24', dataMonth:'Aug', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'}
    .content
        .standart-buttons
            .header
                +header('standard buttons')
            .standart-buttons__block
                .standart-buttons__block_small-button
                    +button-ripple({name: 'button', small: true, green: true})
                .standart-buttons__block_button
                    +button-ripple({name: 'button', small: false, green: true})
                .standart-buttons__block_button
                    +button-ripple({name: 'button', small: false, green: false})
                .standart-buttons__block_small-button
                    +button-ripple({name: 'button', small: true, green: false})
                .standart-buttons__block_small-button
                    +button-ripple({name: 'button', small: true, green: true})
                .standart-buttons__block_button
                    +button-ripple({name: 'button', small: false, green: true})
                .standart-buttons__block_button
                    +button-ripple({name: 'button', small: false, green: false})
                .standart-buttons__block_small-button
                    +button-ripple({name: 'button', small: true, green: false})
                .standart-buttons__block_small-button
                    +button-ripple({name: 'button', small: true, green: true})
                .standart-buttons__block_button
                    +button-ripple({name: 'button', small: false, green: true})
                .standart-buttons__block_button
                    +button-ripple({name: 'button', small: false, green: false})
                .standart-buttons__block_small-button
                    +button-ripple({name: 'button', small: true, green: false})
        .arrow-buttons
            .header
                +header('arrow buttons')
            .arrow-buttons__block
                .arrow-buttons__block_button
                    +arrow({right: false, disabled: false, hover: false})
                .arrow-buttons__block_button
                    +arrow({right: true, disabled: false, hover: false})
                .arrow-buttons__block_button
                    +arrow({right: false, disabled: true, hover: false})
                .arrow-buttons__block_button
                    +arrow({right: true, disabled: true, hover: false})
                .arrow-buttons__block_button
                    +arrow({right: false, disabled: false, hover: true})
                .arrow-buttons__block_button
                    +arrow({right: true, disabled: false, hover: true})
        .percentages
            .header
                +header('percentages / pie chart')
            .percentages__block
                .percentages__block_percent
                    +percent(0)
                .percentages__block_percent.percentages__block_second
                    +percent(38)
                .percentages__block_percent.percentages__block_third
                    +percent(62)
                .percentages__block_percent.percentages__block_fourth
                    +percent(89)
                .percentages__block_percent.percentages__block_fifth
                
        .sliders
            .header
                +header('sliders')
            .sliders__block_left
                
            .sliders__block_right
            .clear
        .stages
            .header 
                +header('stages')
            .stages__block
        .form-elements
            .header
                +header('form elements')
            .form-elements__block
                .form-elements__block_left
                    +form()
                .form-elements__block_togglesTick
                    .header
                        +header('toggles')
                    .toggles__block
                        .toggles__block_off
                            +toggle()
                        .toggles__block_on 
                            +toggle('checked')
                    .header
                        +header('tick boxes')
                    .tick-box__block
                        .tick-box__block_off
                            +tick({name: 'radio', id:'one', checked: true})
                        .tick-box__block_on 
                            +tick({name: 'radio', id:'two', checked: false})   
                .clear 
                .form-elements__block_left
                    .header 
                        +header('search / drop down') 
                    .form-elements__block_search   
                        +search('Search') 
                    .form-elements__block_search    
                        +search("I've not found what I'm looking for..." , ' search-errer')
                    .form-elements__block_search 
                        +select()   
                .form-elements__block_right 
                    .header 
                        +header('user profile')
                    .form-elements__block_right-profile
                        +userProfile({img:'./src/img/photo1.png', name:'John Smith', job:'ux designer', color:''})
                    .form-elements__block_right-profile
                        +userProfile({img:'./src/img/photo2.png', name:'Sarah Brown', job:'developer', color:'green'})
                .clear  
        .news-events
            .header
                +header('news & events') 
            .news-events__block_left
                +news(news)
            .news-events__block_right
                +event(event)
        .location
            .header
                +header('location')
            .location__block
                +map()
        .calendar
            .header 
                +header('calendar')
            .calendar__block       
        .messaging
            .header
                +header('messaging')
            .messaging__block
        .clear
        .video
            .header
                +header('video') 
            .video__block
                +video("https://player.vimeo.com/video/62980495")   