extends template/template

include site-header/site-header
include footer/footer
include pie-chart/pie-chart
include percent/percent






block content
    .wrapper
        .wrapper__header
            +site-header()
        .wrapper__main  
            +pie-chart()
            +percent('23')
        .wrapper__footer
            +footer()
