extends template/template

include site-header/site-header
include message/message
include buttons/buttons

block content
    +site-header()
    h2.inform-header Онлайн консультация
    .online__block
        +message({text1:'Здравствуйте! Чем я могу вам помоч?', text2:"", foto:require('./img/photo2.png'), button:'ответить'} )
