extends template/template

include site-header/site-header
include footer/footer
include header/header
include calendar/calendar
include form/form
include buttons/buttons





block content
    .wrapper
        .wrapper__header
            +site-header()
        .wrapper__main 
            .wrapper__main-header заполните форму записи на прием

        .wrapper__footer
            +footer()