$main-green: #44ae9f;
$second-green:#46ab9d;
$main-white: #ffffff;
$main-red: #e75735;
$main-gray: #e5e5e5;
$second-gray:#f2f2f2;

@import 'reset/reset';
@import 'fonts/fonts';
@import 'style/ui-kit';
@import 'style/recording';
@import 'style/online';
@import 'site-header/site-header';
@import 'style/staff';
@import 'style/contacts';
@import 'style/discount';

.inform-header{
    font-size: 3rem;
    text-align: center;
    margin: 20px auto;
}
.company, .company-news{
    text-align: center;
    font-size: 1.5rem;
    margin: 20px auto;
}
.company-name{
    text-align: center; 
    font-size: 3.5rem;
    text-transform:uppercase
}

.news-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin:auto;
    .news-block__elem{
        width: 40%;
        margin-bottom: 30px
    }
}
@media screen and (max-width: 920px){
    .news-block{
        display: block;
        .news-block__elem{
            width:80%;
            margin:20px;
            margin: auto;
            margin-bottom: 30px
        }
    }
}
@media screen and (max-width: 590px){
    .news-block{
        width: 100%;
    }
}