$main-green: #44ae9f;
$main-white: #ffffff;
$main-red: #e75735;
$main-gray: #e5e5e5;

@import 'reset/reset';

@import 'fonts/fonts';
@import 'header/header';
@import 'buttons/buttons';
@import 'arrow-button/arrow-button';
@import 'pieChart/pieChart';

@import 'form/form';
@import 'toggle/toggle';


.content{
    margin:83px auto;
    width: 600px;
}
.standart-buttons{
    margin:auto;
    width: 470px;
    height: 287px;
}
.header{
    height: 25px;
}
.standart-buttons__block{
    height: 160px;
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.standart-buttons__block_small-button{
    height: 35px;
    width: 80px;
    margin-left:3px;
}
.standart-buttons__block_button{
    height: 35px;
    width: 120px;
}
.arrow-buttons{
    margin:auto;
    width: 470px;
    height: 152px;
}
.arrow-buttons__block{
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 0;
}
.arrow-buttons__block_button{
    height: 49px;
    width: 49px;

}
.percentages{
    height: 176px;
}

.percentages__block_percent{
    display: inline-block;
    margin-right: 5px;
    height: 83px;

}
.percentages__block_second{
    margin-left:8px;
}
.percentages__block_third{
    margin-left: 31px;
}
.percentages__block_fourth{
    margin-left: 27px;
}
.percentages__block_fifth{
    margin-left: 18px;
}
.sliders{
    height: 131px;
    background: #c584eb; 
}
.sliders__block_left{
    float: left;
    width: 265px;
    height: 70px;
    background: #1ff731;
}
.sliders__block_right{
    float: right;
    margin-right: 3px;
    width: 270px;
    height: 70px;
    background: #1ff731;
}
.stages{
    height: 131px;
    background: #f8cf82;   
}
.stages__block{
    height: 55px;
    background: #591ff7;
}
.form-elements{
    height: 706px;
    background: #08eb79;   
}
.form-elements__block_left{
    float: left;
    margin: 43px 0 0 2px;
    width: 290px;
    height: 243px;
}
.form-elements__block_togglesTick{
    float: right;
    margin: 42px 11px 0 2px;
    width: 270px;
    height: 243px;
}
.form-elements__block_right{
    float: right;
    margin: 40px 0 0 2px;
    width: 280px;
    height: 243px;
}
.toggles__block{
    margin: 25px auto;
    margin-bottom: 38px;
    width: 135px;
    height: 25px;
}
.toggles__block_off{
    display: inline-block;
    width: 60px;
    height: 25px;
}
.toggles__block_on{
    display: inline-block;
    margin-left: 11px;
    width: 60px;
    height: 25px;
}

.tick-box__block{
    margin: 25px auto;
    width: 70px;
    height: 25px;
    background: #591ff7
}
.tick-box__block_off{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #f71f67
}
.tick-box__block_on{
    display: inline-block;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background: #f71f67
}


.form-elements__block_right-profile{
    height: 100px;
    background: rgb(50, 86, 205);
    margin-top: 23px;
}
.news-events{
    height: 314px;
    background: #27628a;  
}
.news-events__block_left{
    float: left;
    margin-top:32px;
    margin-left: 3px; 
    width: 288px;
    height: 212px;
    background: yellowgreen;
}
.news-events__block_right{
    float: right;
    margin-top:32px;
    margin-right: 3px; 
    width: 288px;
    height: 212px;
    background: yellowgreen;
}
.location{
    height: 374px;
    background: #e05858;  
}
.location__block{
    margin-top: 26px;
    height: 272px;
    background: yellowgreen;
}
.calendar{
    float: left;
    width: 285px;
    height: 528px;
    background: #4612a7;
}
.calendar__block {
    width: 280px;
    height: 430px;
    margin: 25px auto;
    background: yellowgreen
}
.messaging{
    float: right;
    width: 295px;
    height: 528px;
    background: #4612a7;
}
.messaging__block{
    width: 290px;
    height: 430px;
    margin: 25px auto;
    background: yellowgreen
}
.clear{
    clear: both;
}
.video{
    height: 390px;
    background: #e05858;  
}
.video__block{
    height: 340px;
    margin: 20px auto;
    background: yellowgreen  
}