mixin select(values)
  -let i = 0

  .select
    select.select-block.js-select(name="select" )
      option.select-block__none(disabled selected) Choose an option

      each val in values
        option.select-block__option(value= i += 1)= val