.select {
  .ui-selectmenu-button.ui-button {
    padding: 0.26em 1em;
    outline: none;
    width: 16rem;
    background: #e5e5e5;
    border-radius: 0.25rem;
  }
}

.ui-selectmenu-text {
  font-family: "sourcesanspro-light", "Arial", "Sans-Serif";
  font-weight: 100;

  &:after {
    content: "";
    position: absolute;
    background: #4eb7a8 url("./img/check-drop.svg") no-repeat center;
    color: #fff;
    width: 11.5%;
    height: 100%;
    top: 0px;
    right: 0px;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

.ui-selectmenu-menu .ui-menu {
  font-family: "sourcesanspro-light", "Arial", "Sans-Serif";
  background: #4eb7a8;
  color: #fff;
  border-radius: 0.25rem;
}

#ui-id-1-menu {
  padding: 0.3rem 0 0.5rem;
}

#ui-id-1-menu .ui-state-disabled {
  display: none;
}
