.ui-selectmenu-text {
  font-weight: 100;

  &:after {
    content: "";
    position: absolute;
    background: #4eb7a8 url("./img/check-drop.svg") no-repeat center;
    color: #fff;
    width: 11.5%;
    height: 100%;
    top: 0px;
    right: 0px;
    border-radius: 0 3px 3px 0;
  }
}

.select > .ui-selectmenu-button.ui-button {
  width: 16rem;
  background: #e5e5e5;
}

.ui-selectmenu-menu .ui-menu {
  background: #4eb7a8;
  color: #fff;
  border-radius: 3px;
}

.ui-state-disabled {
  display: none;
}
