.button-ripple {
  font-family: "Lato Black";
  font-size: .8rem;
  text-transform: uppercase;
  border-radius: 3px;
  width: 100%;
  min-width: 7.2rem;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: .45rem;
  background-color: $main-white;
  &__small {
    padding:.2rem;
    width: 100%;
    min-width: 4.9rem;
    font-size: .6rem;
  }
  &__green {
    border: 1px $main-green solid;
    color: $main-green;
    box-shadow: 0 3px #28a290;
    &:hover {
      background-color: $main-green;
      color: $main-white;
    }
    &:active {
      top: 3px;
      background-color: $main-green;
      box-shadow: none;
      color: $main-white;
    }
  }
  &__red {
    border: 1px $main-red solid;
    background-color: $main-white;
    color: $main-red;
    box-shadow: 0 3px #c94322;
    &:hover {
      background-color: $main-red;
      color: $main-white;
    }
    &:active {
      top: 3px;
      background-color: $main-red;
      box-shadow: none;
      color: $main-white;
    }
  }
}
.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
    .c-ripple.is-active & {
      animation: a-ripple 0.4s ease-in;
    }
  }
}
@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
