include ../header/header
include ../buttons/buttons
include ../arrows/arrows
include ../percentages/percentages
include ../sliders/sliders
include ../stages/stages
include ../forms/forms
include ../entry-field/entry-field
include ../news-events/news-events
include ../location/location
include ../calendar-message/calendar-message
include ../video-block/video-block

mixin content(options)
  - let {buttons={}, arrows={}, percentages={}, sliders={}, stages={},
  - forms={}, newsEvents={}, location={}, calendarMessage={}, videoBlock={}} = options;

  .content
    .content__element.content__element_buttons
      +buttons(buttons)
    .content__element.content__element_arrows
      +arrows(arrows)
    .content__element.content__element_percentages
      +percentages(percentages)
    .content__element.content__element_sliders
      +sliders(sliders)
    .content__element.content__element_stages
      +stages(stages)
    .content__element.content__element_forms
      +forms(forms)
    .content__element.content__element_news-events
      +news-events(newsEvents)
    .content__element.content__element_location
      +location(location)
    .content__element.content__element_calendar-message
      +calendar-message(calendarMessage)
    .content__element.content__element_video-block
      +video-block(videoBlock)