include ../entry-field/entry-field
include ../text-area/text-area
include ../button-ripple/button-ripple

mixin form(options) 
  -let {field=[], textarea={}, button={}} = options;

  form.form-elements
    each item in field 
      .form-elements__form
        +entry-field(item)
    .form-elements__form
      +text-area(textarea)
    
    .form-elements__button
      +button-ripple(button)