include ../entry-field/entry-field
include ../text-area/text-area
include ../button-ripple/button-ripple

mixin form(options) 
  -let {field=[], textarea={}, button={}} = options;

  form.form
    each item in field 
      .form__elements
        +entry-field(item)

    .form__elements.form__elements_text-area
      +text-area(textarea)

    .form__button
      +button-ripple(button)