include ../entry-field/entry-field
include ../text-area/text-area
include ../button/button

mixin form(options) 
  -let {field=[], textarea={}, button={}} = options;

  form.form
    each item in field 
      .form__elements
        +entry-field(item)

    .form__text-area
      +text-area(textarea)

    .form__button
      +button(button)