include ../header/header
include ../percent/percent
include ../pie-chart/pie-chart

mixin percentages(options) 
  -let {header="header", percentages=[], pie={}} = options;

  .percentages
    +header({header:"percentages / pie chart"})

    each item in percentages
      .percentages__block
        +percent(item)

    .percentages__block
      +pie-chart(pie)