include ../header/header
include ../percent/percent
include ../pie-chart/pie-chart

mixin percentages(options) 
  -let {header="header", percentages=[], pie={}} = options;

  .percentages
    +header({header:"percentages / pie chart"})
    .percentages__block
      each item in percentages
        +percent(item)

      .percentages__pie
        +pie-chart(pie)